<div layout="row" layout-margin>
  <div flex="25">
    <!--  -->
  </div>

  <div flex="50" layout="column" layout-padding layout-margin layout-fill
    md-whiteframe="3"
    style="height: 80vh; margin: 10vh auto; background:white;">
    <nav flex>
      <h1 class="md-headline"
        ui-sref="home"
        ui-sref-active="active">1: Choose the board</h1>
      <h2 class="md-headline"
        ui-sref="cards"
        ui-sref-active="active">2: The list</h2>
      <h2 class="md-headline"
        ui-sref="cards"
        ui-sref-active="active">3: The card</h2>
    </nav>
    <div flex>
      <!-- TODO: on Enter should go to remaining boards -->
      <md-input-container>
        <label>Search Cards</label>
        <input type="text" ng-model="vm.cardsSearch">
      </md-input-container>
      <div class="list" ng-repeat="listArr in vm.cardsArr" layout="column">
        <div ng-if="filtered.length > 0">{{ listArr.boardName }}</div>
        <div layout="row"
          ng-repeat="list in filtered = (listArr.cards | fuzzy: vm.cardsSearch)">
          <md-checkbox ng-model="list.TTisSelected" aria-label="{{ list.name }}">
            {{ list.name }}
          </md-checkbox>
          <span flex></span>
          <md-button ng-click="vm.goToLists({boardId: board.id})">Go directly to list cards</md-button>
        </div>
<!--         <div ng-reapeat="list in cardsArr.cards">
          <span flex></span>
          <md-button ng-click="">Go directly to list (replace with icon)</md-button>
        </div> -->
      </div>
    </div>
    <div layout="row">
      <div flex></div>
      <md-button ng-click="">Go to all cards</md-button>
      <md-button ng-click="">Go to selected cards</md-button>
    </div>
  </div>

  <div flex="25">
    <!--  -->
  </div>
</div>

<!-- <pre>{{ vm.cardsArr | json }}</pre> -->
