<div layout="row" layout-margin>
  <div flex="25">
    <!--  -->
  </div>

  <div flex="50" layout="column" layout-padding layout-margin layout-fill
    md-whiteframe="3"
    style="height: 80vh; margin: 10vh auto; background:white;">
    <nav flex>
      <h1 class="md-headline"
        ui-sref="home"
        ui-sref-active="active">1: Choose the board</h1>
      <h2 class="md-headline"
        ui-sref="lists"
        ui-sref-active="active">2: The list</h2>
      <h2 class="md-headline">3: The card</h2>
    </nav>
    <div flex>
      <!-- TODO: on Enter should go to remaining boards -->
      <md-input-container>
        <label>Search Boards</label>
        <input type="text" ng-model="vm.boardsSearch">
      </md-input-container>
      <div class="list" ng-repeat="board in vm.boards | fuzzy: vm.boardsSearch" layout="row">
        <md-checkbox ng-model="board.TTisSelected" aria-label="{{ board.name }}">
          {{ board.name }}
        </md-checkbox>
        <span flex></span>
        <md-button ng-click="vm.goToLists({boardId: board.id})">Go directly to board (replace with icon)</md-button>
      </div>
    </div>
    <div layout="row">
      <div flex></div>
      <md-button ng-click="vm.goToLists()">Go to all boards</md-button>
      <md-button ng-click="vm.goToLists({onlySelected: true})">Go to selected boards</md-button>
    </div>
  </div>

  <div flex="25">
    <!--  -->
  </div>
</div>

<script>
//Legacy :hankey:
/*
<div layout="vertical" layout-fill>

  <md-content layout-fill>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <section class="jumbotron">
      <h1>
        Hi, NAME, choose your Trello board<br>
      </h1>
      <!-- <md-button ng-click="vm.test()">Test (Trello)</md-button>
      <md-button ng-click="vm.getMe()">Get Me (Trello)</md-button>
      <md-button ng-click="vm.getMyBoard()">My Board (Trello)</md-button>
      <md-button ng-click="vm.what()">What test?</md-button> -->
    </section>


    <!-- <pre>{{ vm.boards | json}}</pre> -->

    <div class="techs" layout-align="center">
      <md-card ng-repeat="board in vm.boards">
        <md-card-content>
          <!-- <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
          <h3 class="md-title">{{ board.name }}</h3>
          <!-- <p>{{ board.description }}</p> -->
        </md-card-content>
        <md-dialog-actions>
          <md-button ui-sref="board({boardId: board.id})">Go to This Board</md-button>
        </md-dialog-actions>
      </md-card>
    </div>

  </md-content>

</div>
*/</script>
