<div layout="row" layout-margin>
  <div flex="25">
    <!--  -->
  </div>

  <div flex="50" layout="column" layout-padding layout-margin layout-fill
    md-whiteframe="3"
    style="height: 80vh; margin: 10vh auto; background:white;">
    <nav flex>
      <h1 class="md-headline"
        ui-sref="home"
        ui-sref-active="active">1: Choose the board</h1>
      <h2 class="md-headline"
        ui-sref="lists"
        ui-sref-active="active">2: The list</h2>
      <h2 class="md-headline">3: The card</h2>
    </nav>
    <div flex>
      <!-- TODO: on Enter should go to remaining boards -->
      <md-input-container>
        <label>Search Boards</label>
        <input type="text" ng-model="vm.boardsSearch">
      </md-input-container>
      <div class="list" ng-repeat="board in vm.boards | fuzzy: vm.boardsSearch" layout="row">
        <md-checkbox ng-model="board.TTisSelected" aria-label="{{ board.name }}">
          {{ board.name }}
        </md-checkbox>
        <span flex></span>
        <md-button ng-click="vm.goToLists({boardId: board.id})">Go directly to board (replace with icon)</md-button>
      </div>
    </div>
    <div layout="row">
      <div flex></div>
      <md-button ng-click="vm.goToLists()">Go to all boards</md-button>
      <md-button ng-click="vm.goToLists({onlySelected: true})"
        ng-disabled="vm.noSelectedBoards()">Go to selected boards</md-button>
    </div>
  </div>

  <div flex="25">
    <!--  -->
  </div>
</div>