<div layout="row" layout-margin>
  <div flex="25">
    <!--  -->
  </div>

  <div flex="50" layout="column" layout-padding layout-margin layout-fill
    md-whiteframe="3"
    style="height: 80vh; margin: 10vh auto; background:white;">
    <nav flex>
      <h1 class="md-headline"
        ui-sref="home"
        ui-sref-active="active">1: Choose the board</h1>
      <h2 class="md-headline"
        ui-sref="lists"
        ui-sref-active="active">2: The list</h2>
      <h2 class="md-headline">3: The card</h2>
    </nav>
    <div flex>
      <!-- TODO: on Enter should go to remaining boards -->
      <md-input-container>
        <label>Search Lists</label>
        <input type="text" ng-model="vm.listsSearch">
      </md-input-container>
      <div class="list" ng-repeat="lists in vm.lists" layout="column">
        <div ng-if="filtered.length > 0">{{ lists.boardName }}</div>
        <div layout="row"
          ng-repeat="list in filtered = (lists.lists | fuzzy: vm.listsSearch)">
          <md-checkbox ng-model="list.TTisSelected" aria-label="{{ list.name }}">
            {{ list.name }}
          </md-checkbox>
          <span flex></span>
          <md-button ng-click="vm.goToCards({listId: list.id})">Go directly to list cards</md-button>
        </div>
<!--         <div ng-reapeat="list in lists.lists">
          <span flex></span>
          <md-button ng-click="">Go directly to list (replace with icon)</md-button>
        </div> -->
      </div>
    </div>
    <div layout="row">
      <div flex></div>
      <md-button ng-click="vm.goToCards()">Go to all cards</md-button>
      <md-button ng-click="vm.goToCards({onlySelected: true})">Go to selected cards</md-button>
    </div>
  </div>

  <div flex="25">
    <!--  -->
  </div>
</div>

<!-- <pre>{{ vm.lists | json }}</pre> -->
